@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Libre+Bodoni:wght@400;700&display=swap');

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* Headings */
  h1,
  h2, 


  /* Paragraphs, spans, table cells */
  p,
  a,
  span,
  td {
  }
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #CFAE76;
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #002847;
  border-radius: 4px;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #CFAE76 #002847;
}



.vc-container {
  background-color: #002847 !important; 
  color: white; 
  border-radius: 0.5rem; 
  padding: 0.5rem; 
}

.btn-spec-ready {
  background-color: #22c55e;
  color: white;
}

.bg-blue-color-100 {
  background-color: #002847 !important;
}

.bg-blue-color-200 {
  background-color: #003762 !important;
}

.vc-highlight {
  background-color: #CFAE76 !important;
  color: white !important;
}

.vc-day-content {
  color: white !important;
}

.vc-day:not(.vc-highlight):hover {
  background-color: #334155 !important;
  color: white !important;
}


body {
  background-color: #33536C;
}

:root {
  --gutter-h: 40px; 
}


@layer components {
  .btn-handling {
    @apply bg-[#CFAE76] text-white px-3 py-2 rounded-md text-sm text-stone-900;
  }
   .btn-spec {
    @apply   text-white px-3 py-4 rounded-md text-sm text-white bg-[#002847];
  }
    .btn-spec:hover {
    @apply   text-white px-3 py-4 rounded-md text-sm text-white bg-[#001B30];
  }
   .btn-spec-create {
    @apply border border-dashed  text-white px-3 py-4 rounded-md text-sm text-white bg-green-800;
  }
    .btn-spec-create:hover {
    @apply border border-dashed  text-white px-3 py-4 rounded-md text-sm text-white bg-green-900;
  }
  .card-pop-up {
    @apply bg-[#004274];
  }
  }
   .btn-spec-ready {
    @apply bg-[#198F3F] text-white px-3 py-2 rounded-md text-sm text-white;
  }
   .btn-strat {
    @apply bg-[#CFAE76] text-white px-3 py-2 rounded-md text-sm text-stone-900;
  }
  .btn-spec-done {
@apply bg-green-600 text-white px-6 py-4 rounded-md text-sm;
  }
  .gold-text {
    @apply  text-[#CFAE76] ;
  }

  .gold-background  {
    @apply  bg-[#CFAE76] ;
  }

  .card {
    @apply p-3 rounded-md bg-white shadow-md h-full;
  }
  .thumb {
    max-height: 500px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0.375rem;
  }
 
 .vc-container {
    @apply bg-[#1E293B] text-white rounded-md p-2;
  }

  .vc-highlight {
    @apply bg-[#3B82F6] text-white;
  }

  
  .vc-day:not(.vc-highlight):hover {
    @apply bg-[#334155] text-white;
  }
  


    @media(min-width: 320px) {
 h3 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 1.8rem;
  }
 body  p {
    font-size: 0.9rem;
  }
 
  }


@media(min-width: 1200px) {
 h3 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h1 {
    font-size: 5rem;
  }
 
  }

  @media(min-width: 976px) {
 h3 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h1 {
    font-size: 5rem;
  }
 
  }



  @media(max-width: 1200px) {
.herosection {
  display: none;
}
  }